.ErrorMessage {
    position: absolute;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
    font-weight: bold;
}

.ErrorMessage > .toast {
    width: 30%;
}

.ErrorMessage > .toast > .toast-header > .btn-close {
    background-color: white !important;
}

.ErrorMessage > .toast > .toast-header {
    background-color: #ff5555;
    color: white;
    justify-content: space-between;
    display: flex;
    font-size: 1.25rem;
}

.WelcomePageTitle {
    padding: 80px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 15px 15px #e7d1ed;
    justify-content: center;
    display: flex;
}

.MoneyBuffTitle {
    justify-content: center;
    font-size: 50px;
    font-family: "Book Antiqua", serif;
    color: white;
    margin-bottom: 50px;
    margin-left: 3px;
    text-shadow: 0 0 4px black, 0 0 4px black;
}

.WelcomePageContent {
    display: flex;
}

.WelcomePageLogo {
    height: 40vh;
    padding-left: 60px;
    padding-top: 50px;
    margin-left: 380px;
}

.WelcomePageSubtitle {
    font-family: "Book Antiqua", serif;
    font-size: 30px;
    margin-left: 450px;
    background-color: rgba(192, 192, 192, 0.4);
    box-shadow: -10px -8px 21px 1px rgba(0, 0, 0, 0.16);
    padding: 20px;
    border-radius: 25px;
}

.verticalLineTop {
    border-left: 3px solid silver;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: 0px;
    top: 350px;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
}

.verticalLineBottom {
    border-left: 3px solid silver;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: 0px;
    top: 650px;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(0, 0, 0, 0)), to(black)) 1 100%;
}

.WelcomePageLoginForm {
    margin-top: 80px;
    margin-left: 190px;
    background-color: rgba(192, 192, 192, 0.4);
    box-shadow: -10px -8px 21px 1px rgba(0, 0, 0, 0.16);
    padding: 30px;
    border-radius: 25px;
}

.singInLabelAndPicture {
    display: flex;
}

.singIn {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin-left: 30px;
}

.signInLabel {
    font-size: 50px;
    margin-left: 30px;
    margin-top: 20px;
}

.WelcomePageForm {
    display: flex;
    margin-top: 30px;
}

.WelcomePageEmailLabel {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.FloatingLabels {
    margin-top: 10px;
    margin-left: 20px;
}

.WelcomePageEmailInputField {
    width: 300px !important;
    height: 40px;
    font-size: large;
}

.WelcomePagePasswordLabel {
    border-radius: 50%;
    width: 80px;
}

.WelcomePagePasswordInputField {
    width: 300px !important;
    height: 40px;
    font-size: large;
}

.Register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.RegisterLabel {
    font-size: 15px;
    font-weight: 400;
}

.RegisterButton {
    opacity: 0.5;
    margin-left: 20px;
}

.LoginButton {
    margin-top: 40px;
    margin-left: 170px;
    width: 90px;
    height: 90px;
    padding: 0 !important;
    border: 0;
    background: transparent;
    border-radius: 50%;
}

.LoginButton > img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}