.mainPageBackground {
    height: 100vh;
    width: 100vw;
}

.littleLogo {
    border-radius: 50%;
    width: 70px;
    margin-right: 20px;
}

.mainPageContainer {
    padding: 0px;
    margin-left: 250px;
}

.d-flex {
    margin-right: -350px;
}

.incomeTitle {
    padding-top: 100px;
}

.mainPageAll {
    justify-content: space-around;
    align-items: center;
}

.tables {
    display: flex;
}

.separatorLine {
    border-right: 1px solid black;
}

.expensesTitle {
    padding-top: 100px;
}

.expensesTable {
    margin-left: 1500px;
}

.donutChart {
    padding-right: 500px;
    margin-left: -300px;
}

.med {
    display: flex;
}

.balance {
    margin-left: 45%;
    margin-top: -150px;
    height: 50px;

}

.balance2 {
    margin-top: -150px;
    height: 50px;
    margin-left: 10px;
}

.donut {
    height: 550px !important;
    width: 550px !important;
}