.mainPageBackground {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPageContent {
    display: flex;
    justify-content: space-around;
}

/*navbar css*/
.littleLogo {
    border-radius: 50%;
    width: 3.5vw;
    margin-right: 2%;
}

.separatorLine {
    border-right: 1px solid black;
    height: 2.5vh;
    margin-top: 2%;
    opacity: 0.5;
}

.searchForm {
    margin-right: -25%;
    margin-top: 9px;
    display: flex;
}

.searchFloatingLabel {
    width: 300px;
}

.searchLabel {
    height: 45px !important;
    margin-top: 7px;
}

.searchButton {
    height: 40px;
    margin-left: 15px;
    margin-top: 9px;
}

/*tables css*/
.incomeTable {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
}

.incomeContainer {
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}

.incomeTitle {
    margin-left: 70px;
    color: white;
}

.incomeInput {
    display: flex;
    width: 240px;
    margin: 10px;
    margin-bottom: 20px;
}

.listItems {
    height: 65px;
    margin: 5px;
    width: 250px;
    position: relative;
}

.totalIncome {
    margin-top: 20px;
    margin-left: 45px;
    color: white;
}

.itemListContainer {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*middle*/
.mainPageBalanceTitleAndChart {
    padding-top: 170px;
}

.mainPageBalanceTitleAndChart svg > rect {
    fill: rgba(255, 255, 255, 0);
    width: 560px;
    height: 560px;
}

.moneyTitleDiv {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(211,161,213,1) 0%, rgba(217,218,222,1) 48%, rgba(143,223,240,1) 100%);
    box-shadow: -10px -8px 21px 1px rgba(0,0,0,0.16);
    padding: 10px;
    border-radius: 25px;
    margin-top: -10px;
}

.moneyTitle {
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: 0;
    font-size: 3em;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-top: 9px;
}

.mainPageBalanceTitle {
    padding-bottom: 80px;
    padding-left: 100px;
}

.doughnut {
    background-image: none;
    padding-left: 30px;
    padding-top: 30px;
}
/*edit button*/
.editWindow {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.tags {
    margin: 10px;
    width: 150px;
    height: 50px;
}

.badge {
    position: absolute;
    top: 3.5px;
    left: 1px;
    opacity: 0.8;
}

.MainPageEditDiv {
    width: 20px;
    margin-left: 140px;
    height: 0px;
}

.MainPageEditButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.MainPageEditPic {
    width: 35px;
    margin-top: -50px;
    opacity: 0.8;
}

/*delete button*/
.incomeButton {
    width: 20px;
    margin: 0;
    height: 0px;
}

.deleteButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 30px;
}

.incomeButton .closed {
    width: 30px;
    position: absolute;
    top: 25%;
    left: 84.5%;
    z-index: 99;
}

.incomeButton:hover .closed {
    display: none;
}

.incomeButton .opened {
    display: none;
    position: absolute;
    top: 15%;
    left: 85%;
    z-index: 99;
    width: 30px;
}

.incomeButton:hover .opened {
    display: inline;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b66293;
}