.registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: rgba(192, 192, 192, 0.4);
    box-shadow: -10px -8px 21px 1px rgba(0,0,0,0.16);
    padding: 30px;
    margin-left: 800px;
    margin-top: 400px;
}

.regTitle {
    margin-bottom: 200px;
    margin-left: 30px;
}
